{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Loro Yaco</h1>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam accusamus facilis fugit ut, alias aliquid nemo, sit repudiandae optio, reiciendis culpa temporibus veritatis iste voluptas ratione perspiciatis natus possimus voluptatum.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/1239x697.jpg" class="img-thumbnail">
    </div>
</div>


{{> footer }}